@{
  Layout="Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2>Hello and Welcome</h2>
</div>

<div class="results-container">
    <p>
        Your word <span class="highlight">@Model.GetTargetWord()</span> appears in the phrase you put in (@Model.GetLongPreview()) <span class="highlight">@Model.GetWordCount()</span> time(s)!

        Quite shocking, isn't it?
    </p>

</div>
